</br>
<div class="row col-md-8 col-md-offset-2">
  <%= form_for @wiki do |w| %>
    <div class='form-group'>
      <%= w.label :title %>
      </br>
      <%= w.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= w.text_area :body, rows: 10, class: 'form-control' %>
    </div>
    <% if current_user.admin? || current_user.premium? %>
      <div class='form-group'>
        <%= w.label :private do %>
          <%= w.check_box :private, class: 'checkbox' %>
          <small>Make this wiki private</small>
        <% end %>
      </div>
    <% end %>
    <%= w.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'cancel', @wiki, class: 'btn btn-danger' %>
  <% end %>
</div>


