<div class="row col-md-8 col-md-offset-2">
  <%= render 'form' %>
  <% if current_user.id == @wiki.user_id || current_user.admin? %>
    <%= link_to 'Add a collaborator', new_wiki_collaborator_path(wiki_id: @wiki.id), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'cancel', @wiki, class: 'btn btn-danger' %>
</div>

<% if @collaborators %>
  <% @collaborators.each do |collaborator| %>
    <div>
      <span><%= collaborator.user.email %></span>
      <%= link_to 'Remove collaborator', wiki_collaborator_path(@wiki, collaborator), method: :delete, class: 'btn btn-danger' %>
    </div>
  <% end %>
<% end %>
